body{
  height: 100vh;
}

#login {
	width: 30%;
  margin: auto;
  padding-top: 140px;
  text-align: center;
	
}

#login h2{
	margin-bottom: 20px;
}
#login form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#login #email,#login #password {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#login label {
	margin: 2em 0 0.5em 0;
}

#login #message{
	margin-top: 15px;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2.5em auto ;
	width: 180px;
	text-align: center;
	border-radius: 50px ;
  height: 35px;
}

#login #forgot{
  margin: auto;
  color: black;
  font-weight: 400;
  font-size: 13px;
  text-decoration: underline;
  padding-bottom: 50px;
  font-family: 'Work Sans';
  margin-bottom: 80px;
}

.ongletlogin{
	font-weight: bold ;
}