.modal{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
}

.fenetremodal{
  background-color:white ;
  width: 630px;
  height: 731px;
  padding: 35px;
  padding-bottom: 0;
  
  border-radius: 10px;
  overflow: auto;
  box-sizing: border-box;
}

.fenetremodal .x-close{
  display: flex;
  justify-content: flex-end;
  /* Check the cursor pointer is on all the lign*/
}

.x-close:before{
  cursor: pointer;
}

#titreModal{
  display: flex;
  justify-content: center;
  font-size: 26px;
  font-weight: 400;
}

.bodymodal{
  padding: 46px 65px 65px;
  padding-bottom: 0;
}

.bodymodal .gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-row-gap: 14px;
  grid-column-gap: 8px;
}

.bodymodal figure img{
  width: 80px; 
}

.bodymodal .conteneurIcons{
  height: 0;
}

.bodymodal .poubelle{
  color: white;
  background-color: black;
  position: relative;
  left: 55px;
  bottom: 115px;
  
  padding: 4px;
  border-radius: 2px;
  cursor: pointer;
}

.bodymodal .ordre-des-icons{
  display: none;
  color: white;
  background-color: black;
  position: relative;
  bottom: 115px;
  left: 5px;
  padding: 4px;
  border-radius: 2px;
  cursor: grab;
}

.bodymodal figure:hover .ordre-des-icons{
  display:inline-block  
}

.bodymodal .modalTextEdit{
  text-decoration: none;
  color: black;
  font-size: 12px;
  font-family: 'Work Sans';
}

.bodymodal .ligne{
  display: flex;
  justify-content: flex-start;
  width: 100%;
  border-bottom: 1px solid #B3B3B3;
  margin-top: 67px;
  margin-bottom: 38px;
  box-sizing: border-box;
}

.bodymodal button{
  display: flex;
  margin: auto;
  margin-bottom: 23px;
}

.ajoutImage{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'syne' ;
  font-weight: 700;
  color: white;
  background-color: #1D6154;
  width: 237px;
  height: 36px;
  border-radius: 50px;
  cursor: pointer;

}

.supprimeGallery{
  display: flex;
  justify-content: center;
  align-items: center;
  font-family:'syne' ;
  font-weight: 400;
  font-size: 14px;
  color: #D65353;
  background-color:white;
  border: none;
  cursor: pointer;
}

.retour-fleche{
  cursor: pointer;
}

#titreModal2{
  display: flex;
  justify-content: center;
  font-size: 26px;
  font-weight: 400;
  margin-top: 10px;
}

.modal2-ajout-image{
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 420px;
  height: 169px;
  background-color: #E8F1F6;
  margin-bottom: 30px;
  border-radius: 3px;
  
}

.file-input {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.file-input input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 173px;
  height: 36px;
  cursor: pointer;
}

.file-input label {
  display: flex;
  justify-content: center;
  align-items: center;

  border: none;
  border-radius: 50px;
  background-color: #CBD6DC;

  font-family: 'Work sans';
  font-weight: 500;
  font-size: 14px;
  color: #306685;

  margin-bottom: 7px;
  width: 173px;
  height: 36px;
}

.file-input .detail{
  font-size: 10px;
}

.montagne{
  box-sizing: border-box;
  display: flex;
}

.montagne .rectangle{
  border: 3px solid #B9C5CC;
  height:46px;
  width: 58px;

  margin-top: 28px;
  margin-bottom: 21px;
}

.montagne .cercle{
  position: relative;
  top: 10px;
  left: 10px;

  border: 3px solid #B9C5CC;
  border-radius: 50px;

  width: 11px;
  height: 11px;
}

.montagne .sommet1{
  position: relative;
  top: 15px;
  left: 15px;
  border-top: 3px solid #B9C5CC;
  border-right: 3px solid #B9C5CC;

  width: 17px;
  height: 13px ;

  transform: rotate(-45deg);
}

.montagne .sommet2{
  position: relative;
  bottom: 5px;
  left: 33px;
  border-top: 3px solid #B9C5CC;
  border-right: 3px solid #B9C5CC;

  width: 14px;
  height: 10px ;

  transform: rotate(-45deg);
}

.description-projet{
  display: flex;
  flex-direction: column;
}

.description-projet input, .description-projet select{
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  margin-bottom: 21px;
}

.description-projet label{
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}

.validerImage{
  display: flex;
  justify-content: center;
  align-items: center;

  font-family:'syne' ;
  font-weight: 700;
  color: white;

  background-color: #A7A7A7;
  width: 237px;
  height: 36px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.description-projet select{
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none;  
   
}

.menu-down{
  position: relative;
  left: 320px;
  top: 45px;
  color: #C6C6C6;
  pointer-events: none;
}

.modal2-ajout-image img[src]{
  display: flex;
  height: 169px;
  position: absolute;
  z-index: 1;
}


